*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    background-color: #252525;
    /* height: 5em; */
    overflow: auto;
}

#head_list{
    list-style: none;
    float: right;
}

#head_list li{
    float: left;
    /* margin: 15px;
    padding: 10px; */
}

#head_list li a{
    display: block;
    text-decoration: none;
    color: blanchedalmond;
    text-align: center;
    padding: 20px;
}

#head_list ls a:hover{
    background-color: dimgray;

}