*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
}

#navbar{
    overflow: auto;
    position: absolute;
    left: 80%;
}

.main_box{
    min-height: 100%;
}


#head_list{
    list-style: none;
}

#head_list li{
    float: left;
}

#head_list li a{
    display: block;
    text-decoration: none;
    color: blanchedalmond;
    text-align: center;
    padding: 20px;
    margin-right: 2em;
}


#head_list  a:hover{
    background-color: dimgray;

}

.footer_bottom{
    background: tomato;
    height: 3em;
    text-align: center;
    padding: .5em 0;
    width: 100%;
}

.footer_bottom p{
    font-size: 1.5em;
}

.links li{
    text-decoration: none;
}

.facebook:hover{
    /* background-color: blue; */
    transform: scale(1.5em);
}


/* parallax method */


#parallax{
    background: url('./Screenshot\ 2021-02-22\ 104233.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

#parallax1{
    background: url('./img1.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

#parallax2{
    margin-top: 10em;
    background: url('./img2.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    position: relative;
}

.music{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 5em;
}

/* general */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    color: #fff;
}

.main_box{
    margin: 0 auto;
    max-width: 100vw;
    padding: 25px;
    background-color: #000;
}

#to_top{
    position: fixed;
    background: #000;
    padding: 1em;
    border-radius: 2em;
    z-index: 10;
    left: 90%;
    top: 85%;
    color: red;
    /* margin: ; */
}


/* typing effect */



.text{
    height: 100vh;
    display: block;
    margin: 1em;
    background-image: linear-gradient(to right top,rgba(214, 20, 20, 0.527),black),url('pexels-pixabay-270348.jpg');
    position: relative;
}

.texts{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 40%;
}

.texts h1{
    margin-right: 1em;
    color: rgb(3, 139, 250);
}

.text p{
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
}

.typed-text{
    color: rgba(255, 153, 0, 0.87) ;
    text-align: center;
}

.cursor{
    display: inline-block;
    width: .1em;
    margin-left: .5em;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{
        background-color: #fff;
    }
    50%{
        background-color:transparent;
    }
}


/* profile card */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* assigning all the same properties to the body */


.container{
    width: 20em;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    margin: 10em;
}

.user-image{
    padding: 3em 0;
    background-image: linear-gradient(70deg,#61A1DD,#0083FD);
}

.user-image img{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow:  0 0.6em 1.8em ;
    object-fit: cover;
}

.content{
    color: #565656;
    padding: 2.2em;
}

.name{
    color: darkmagenta;
    font-size: 1.5em;
    text-transform: uppercase;
}

.username{
    font-size: 1em;
    color: #9e9e9e;
}


.details{
    margin-bottom: 1.8em;
}


/* CSS for messagin link */

.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(48, 41, 41);
    text-transform: capitalize;
    width: 100%;
    background-image: linear-gradient(60deg,#0083FD,#61A1DD);
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 5em;
    overflow: hidden; 
}
  
.effect.effect-4:before {
    content: "\f2b6";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8em;
    transform: scale(0, 1);
}
.effect.effect-4:hover {
    text-indent: -9999px;
}
    
.effect.effect-4:hover:before {
transform: scale(1, 1);
text-indent: 0; 
}